.grid-programming {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
}

.card-info {
    box-shadow: rgba(4, 79, 255, 0.1) 0px 0.15rem 0.5rem, rgba(253, 8, 69, 0.1) 0px 0.075rem 0.175rem;
}


/* Medium screens */

@media screen and (min-width: 600px) {
    .grid-programming {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 200px;
    }
}